:root {
    --color1: #545454;
    --color2: #d3d3d3b1;
}
.aer_navbar {
    border-bottom: 1px solid var(--color2);
    min-height: 50px;
}
.instlogo {
    width:65px;
     height:22px;
}
.rounded {
    border: 1px solid #000;
    width: 24px;
    height: 24px;
    margin-top: 9px;
}
.rounded_2{
    border-radius: 50% !important;
}
i {
    color: var(--color1);
    font-size: 24px;
}
.aer_button {
    width: 100%;
    border: 1px solid var(--color1);
    background-color: #fff;     
    font-size: 14px;
    font-weight: 500;
}
.aer_button2 {
    width: 45%;
}
.form-control {
    width: 100%;    
}
.aer_info {
    border-bottom: 1px solid var(--color2);
    border-top: 1px solid var(--color2);
    font-size: 12px;
    margin: 0 auto;
}
.icon-2 {
    color: var(--color1);
}
.aer_c1 {
    border-top: 2px solid var(--color2);    
}
.aer_c1 a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
.aer_c1:hover {
    border-top: 2px solid #000;   
}
.btn-primary {
    background-color: #fff;
    border: none;
    padding: 0;
}
@media only screen and (max-width:415px) {
    .aer_c1 {
        border-top: 2px solid transparent;    
    }
    .aer_dn {
        display: none !important;
    }
}